<li>
  <%= link_to gravatar_for(user_rs), user_rs %>
  <span class="user">
    <%= link_to user_rs.name, user_rs %>
  </span>
  <span class="content"><br/></span>
  <span class="timestamp">
    <br/>
  </span>
</li>